In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow import keras
import category_encoders as ce

In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
cd = pd.read_csv('https://raw.githubusercontent.com/Varadad/Personalize_Pricing/main/Datasets/customer_data.csv')
ocd = pd.read_csv('https://raw.githubusercontent.com/Varadad/Personalize_Pricing/main/Datasets/order_customer_data.csv') #most important file
oid = pd.read_csv('https://raw.githubusercontent.com/Varadad/Personalize_Pricing/main/Datasets/order_item_data.csv')
opd = pd.read_csv('https://raw.githubusercontent.com/Varadad/Personalize_Pricing/main/Datasets/order_payment_data.csv')
pdd = pd.read_csv('https://raw.githubusercontent.com/Varadad/Personalize_Pricing/main/Datasets/product_data.csv')
pnd = pd.read_csv('https://raw.githubusercontent.com/Varadad/Personalize_Pricing/main/Datasets/product_name_data.csv')

In [3]:
cd

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [4]:
ocd

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [5]:
oid

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

In [6]:
opd.groupby('payment_installments').sum().reset_index()

    payment_installments  payment_sequential  payment_value
0                      0                   4         188.63
1                      1               61957     5907233.36
2                      2               12466     1579283.03
3                      3               10501     1491103.80
4                      4                7130     1163907.61
5                      5                5257      961174.30
6                      6                3936      822611.81
7                      7                1633      305157.39
8                      8                4294     1313423.34
9                      9                 644      131015.92
10                    10                5351     2211577.34
11                    11                  23        2873.44
12                    12                 133       42783.24
13                    13                  16        2407.40
14                    14                  15        2519.44
15                    15                  74       32970.93
16                    16                   5        1463.47
17                    17                   8        1396.82
18                    18                  27       13135.05
19                    20                  17       10468.63
20                    21                   3         731.10
21                    22                   1         228.71
22                    23                   1         236.48
23                    24                  18       10980.88

In [7]:
pdd

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [8]:
pnd

            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]

In [9]:
# cd left/full outer join with oid
# this join with opd
# join with pdd with product id as key

cd_oid = cd.join(oid,how = 'left')
cd_oid_opd = cd_oid.merge(opd, on = 'order_id', how = 'left')
cd_oid_opd_pdd = cd_oid_opd.merge(pdd, on = 'product_id', how = 'left')
cd_oid_opd_pdd_pnd = cd_oid_opd_pdd.merge(pnd, on = 'product_category_name', how ='left')

In [10]:
cd_oid_opd_pdd_pnd

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_item_id,product_id,seller_id,shipping_limit_date,...,payment_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,...,72.19,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,...,259.83,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0,pet_shop
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,...,216.87,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0,furniture_decor
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,...,25.78,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0,perfumery
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,...,218.04,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0,garden_tools
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103801,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,e18cc7fc5eb938dd26feb68acbf88642,1,28ce57ecf4afba85e6020ec0209cada9,dc317f341ab0e22f39acbd9dbf9b4a1f,2018-01-10 23:28:23,...,319.11,cool_stuff,31.0,248.0,2.0,5650.0,73.0,73.0,20.0,cool_stuff
103802,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,e18cd51191ffbe2bca934d1d13805164,1,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2017-12-22 11:53:31,...,190.04,moveis_decoracao,44.0,903.0,6.0,2600.0,50.0,10.0,30.0,furniture_decor
103803,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,e18cd51191ffbe2bca934d1d13805164,2,aca2eb7d00ea1a7b8ebd4e68314663af,955fee9216a65b617aa5c0531780ce60,2017-12-22 11:53:31,...,190.04,moveis_decoracao,44.0,903.0,6.0,2600.0,50.0,10.0,30.0,furniture_decor
103804,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e18d0e097ef9cdd7894ed1b82a2b7479,1,41171e11f920c47deb1809edda2bf09d,c42fd8e4d47dfb18ce5222f2dd7752f9,2017-03-20 10:38:32,...,36.96,moveis_decoracao,64.0,669.0,4.0,200.0,16.0,16.0,16.0,furniture_decor
103805,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,e18d4eb13f1910fda9a9b86f190ae508,1,5bfc7506459ae2a7b4b573fe557a58e1,4a3ca9315b744ce9f8e9374361493884,2017-06-09 13:05:33,...,86.15,cama_mesa_banho,57.0,535.0,1.0,800.0,45.0,15.0,35.0,bed_bath_table

In [11]:
df = cd_oid_opd_pdd_pnd[['customer_id', 'customer_unique_id','order_id', 'seller_id','product_id','product_category_name_english', 'customer_city', 'customer_state', 'price', 'freight_value','payment_value','product_weight_g', 'product_length_cm','product_height_cm','product_width_cm']]

In [12]:
df

,customer_id,customer_unique_id,order_id,seller_id,product_id,product_category_name_english,customer_city,customer_state,price,freight_value,payment_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,00010242fe8c5a6d1ba2dd792cb16214,48436dade18ac8b2bce089ec2a041202,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,franca,SP,58.90,13.29,72.19,650.0,28.0,9.0,14.0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,00018f77f2f0320c557190d7a144bdd3,dd7ddc04e1b6c2c614352b383efe2d36,e5f2d52b802189ee658865ca93d83a8f,pet_shop,sao bernardo do campo,SP,239.90,19.93,259.83,30000.0,50.0,30.0,40.0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,000229ec398224ef6ca0657da4fc703e,5b51032eddd242adc84c38acab88f23d,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,sao paulo,SP,199.00,17.87,216.87,3050.0,33.0,13.0,33.0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,00024acbcdf0a6daa1e931b038114c75,9d7a1d34a5052409006425275ba1c2b4,7634da152a4610f1595efa32f14722fc,perfumery,mogi das cruzes,SP,12.99,12.79,25.78,200.0,16.0,10.0,15.0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,00042b26cf59d7ce69dfabb4e55b4fd9,df560393f3a51e74553ab94004ba5c87,ac6c3623068f30de03045865e4e10089,garden_tools,campinas,SP,199.90,18.14,218.04,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103801,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,e18cc7fc5eb938dd26feb68acbf88642,dc317f341ab0e22f39acbd9dbf9b4a1f,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,sao paulo,SP,249.90,69.21,319.11,5650.0,73.0,73.0,20.0
103802,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,e18cd51191ffbe2bca934d1d13805164,955fee9216a65b617aa5c0531780ce60,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,taboao da serra,SP,75.00,20.02,190.04,2600.0,50.0,10.0,30.0
103803,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,e18cd51191ffbe2bca934d1d13805164,955fee9216a65b617aa5c0531780ce60,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,fortaleza,CE,75.00,20.02,190.04,2600.0,50.0,10.0,30.0
103804,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,e18d0e097ef9cdd7894ed1b82a2b7479,c42fd8e4d47dfb18ce5222f2dd7752f9,41171e11f920c47deb1809edda2bf09d,furniture_decor,canoas,RS,26.00,10.96,36.96,200.0,16.0,16.0,16.0
103805,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,e18d4eb13f1910fda9a9b86f190ae508,4a3ca9315b744ce9f8e9374361493884,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,cotia,SP,69.90,16.25,86.15,800.0,45.0,15.0,35.0

In [13]:
df['customer_unique_id'].nunique()

96096

In [14]:
#considering customer_id for training which will over fit the data giving high variance/overfitting the model
X1 = df[['product_id','product_category_name_english','customer_id', 'customer_unique_id', 'seller_id','customer_city', 'customer_state','price','freight_value', 'payment_value','product_weight_g', 'product_length_cm','product_height_cm','product_width_cm']]
X1

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,650.0,28.0,9.0,14.0
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,30000.0,50.0,30.0,40.0
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,3050.0,33.0,13.0,33.0
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,200.0,16.0,10.0,15.0
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103801,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,5650.0,73.0,73.0,20.0
103802,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,2600.0,50.0,10.0,30.0
103803,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,2600.0,50.0,10.0,30.0
103804,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,200.0,16.0,16.0,16.0
103805,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,800.0,45.0,15.0,35.0

# **NN with Target encoding on number of orders**

In [ ]:
#creating the count of orders from every city
city = X1['customer_city'].value_counts().reset_index()
city.columns = ['customer_city', 'count']
city

In [ ]:
city_encoded = X1.merge(city, on = 'customer_city', how ='left')
encoder=ce.TargetEncoder(cols='customer_city') 
city_encoded['customer_city_encoded'] = encoder.fit_transform(city_encoded['customer_city'],city_encoded['count'])
city_encoded

In [ ]:
#Data frames for future use
city_level_encoding = city_encoded[['customer_city', 'customer_city_encoded']]
city_level_encoding

In [ ]:
#state level encoding
state = city_encoded['customer_state'].value_counts().reset_index()
state.columns = ['customer_state', 'count']
state

In [ ]:
state_encoded = city_encoded.merge(state, on = 'customer_state', how ='left')
import category_encoders as ce
encoder=ce.TargetEncoder(cols='customer_state') 
state_encoded['customer_state_encoded'] = encoder.fit_transform(state_encoded['customer_state'],state_encoded['count_y'])
state_encoded

In [ ]:
#datdframe for future use
state_level_encoding = state_encoded[['customer_state','customer_state_encoded']]

In [ ]:
#product category level encoding
category = state_encoded['product_category_name_english'].value_counts().reset_index()
category.columns = ['product_category_name_english', 'count']
category

In [ ]:
category_encoded = state_encoded.merge(category, on = 'product_category_name_english', how ='left')
category_encoded

In [ ]:
encoder=ce.TargetEncoder(cols='product_category_name_english') 
category_encoded['product_category_name'] = encoder.fit_transform(category_encoded['product_category_name_english'],category_encoded['count'])
category_encoded = category_encoded.dropna()

In [ ]:
X = category_encoded[['customer_city_encoded', 'customer_state_encoded', 'product_category_name', 'freight_value','product_weight_g', 'product_length_cm','product_height_cm','product_width_cm']].dropna()
X

In [ ]:
y = category_encoded[['price']]
y

In [ ]:
y.describe()

In [ ]:
X

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import ticker
import numpy as np
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
X_train, X_test, y_train, y_test = X.iloc[0:80000, :], X.iloc[80000:, :], y.iloc[0:80000], y.iloc[80000:]

In [ ]:
#defining the model and adding neural network layers
model = keras.Sequential(([
    layers.Dense(16, activation='relu', input_shape=[8]),
    layers.Dropout(0.2, seed=2),
    layers.Dense(16, activation='relu'),
    layers.Dense(16, activation='relu'),
    layers.Dense(8, activation='relu'),
    layers.Dense(1)
]))

In [ ]:
#compiling the model
optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001)
model.compile(loss = 'mean_squared_error', optimizer = optimizer, metrics=['mae'])

In [ ]:
history = model.fit(X_train, y_train, epochs = 500, validation_split = 0.3)

In [ ]:
import matplotlib.pyplot as plt
model_history = pd.DataFrame(history.history)
model_history['epoch'] = history.epoch

fig, ax = plt.subplots(figsize=(14,8))
num_epochs = model_history.shape[0]
ax.plot(np.arange(0, num_epochs), model_history["mae"], 
        label="Training MAE", lw=3, color='r')
ax.plot(np.arange(0, num_epochs), model_history["val_mae"], 
        label="Validation MAE", lw=3, color='b')
ax.legend()
plt.tight_layout()
plt.show()

# **Baseline Linear Regression**

In [ ]:
#baseline model Linear regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
polynomial_features= PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(X_train)

In [ ]:
model = LinearRegression()
model.fit(x_poly, y_train)
y_poly_pred = model.predict(x_poly)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_train,y_poly_pred))
r2 = r2_score(y_train,y_poly_pred)
print(rmse)
print(r2)

# **With Different Encoding**

In [15]:
X1 = X1.dropna()
X1

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,650.0,28.0,9.0,14.0
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,30000.0,50.0,30.0,40.0
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,3050.0,33.0,13.0,33.0
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,200.0,16.0,10.0,15.0
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103801,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,5650.0,73.0,73.0,20.0
103802,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,2600.0,50.0,10.0,30.0
103803,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,2600.0,50.0,10.0,30.0
103804,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,200.0,16.0,16.0,16.0
103805,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,800.0,45.0,15.0,35.0

In [16]:
city1 = X1.groupby('customer_city').sum().reset_index()
city1 = city1[['customer_city', 'payment_value']]
city1.columns = ['customer_city', 'payment_city']
city1

            customer_city  payment_city
0     abadia dos dourados       1147.12
1               abadiania        224.40
2                  abaete       1534.16
3              abaetetuba       1051.10
4                 abaiara        110.00
...                   ...           ...
4098             xinguara       1196.07
4099          xique-xique        325.29
4100             zacarias        141.32
4101              ze doca        392.97
4102               zortea        241.36

[4103 rows x 2 columns]

In [17]:
city1_encoded = X1.merge(city1, on = 'customer_city', how ='left')
encoder=ce.TargetEncoder(cols='customer_city') 
city1_encoded['customer_city1_encoded'] = encoder.fit_transform(city1_encoded['customer_city'],city1_encoded['payment_city'])
city1_encoded

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_city,customer_city1_encoded
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,650.0,28.0,9.0,14.0,35241.78,35241.78
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,30000.0,50.0,30.0,40.0,163895.33,163895.33
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,3050.0,33.0,13.0,33.0,2745623.55,2745623.55
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,200.0,16.0,10.0,15.0,76508.38,76508.38
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,3750.0,35.0,40.0,30.0,274683.09,274683.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102277,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,5650.0,73.0,73.0,20.0,2745623.55,2745623.55
102278,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,2600.0,50.0,10.0,30.0,49219.94,49219.94
102279,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,2600.0,50.0,10.0,30.0,113254.85,113254.85
102280,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,200.0,16.0,16.0,16.0,35183.46,35183.46
102281,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,800.0,45.0,15.0,35.0,42516.67,42516.67

In [18]:
state1 = X1.groupby('customer_state').sum().reset_index()
state1 = state1[['customer_state', 'payment_value']]
state1.columns = ['customer_state', 'payment_state']
state1

   customer_state  payment_state
0              AC       12861.12
1              AL       75962.73
2              AM       29284.79
3              AP       12055.28
4              BA      597959.30
5              CE      235832.48
6              DF      359400.32
7              ES      379393.73
8              GO      354799.45
9              MA      126256.07
10             MG     2083337.72
11             MS      122422.49
12             MT      172243.80
13             PA      171203.22
14             PB       93771.52
15             PE      288302.69
16             PI       83367.01
17             PR      926111.74
18             RJ     2267336.09
19             RN       85444.47
20             RO       43341.71
21             RR       11587.21
22             RS      962571.20
23             SC      658328.94
24             SE       64383.18
25             SP     7458064.05
26             TO       56643.06

In [19]:
state1_encoded = city1_encoded.merge(state1, on = 'customer_state', how ='left')
encoder=ce.TargetEncoder(cols='customer_state') 
state1_encoded['customer_state1_encoded'] = encoder.fit_transform(state1_encoded['customer_state'],state1_encoded['payment_state'])
state1_encoded

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_city,customer_city1_encoded,payment_state,customer_state1_encoded
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,650.0,28.0,9.0,14.0,35241.78,35241.78,7458064.05,7.458064e+06
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,30000.0,50.0,30.0,40.0,163895.33,163895.33,7458064.05,7.458064e+06
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,3050.0,33.0,13.0,33.0,2745623.55,2745623.55,7458064.05,7.458064e+06
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,200.0,16.0,10.0,15.0,76508.38,76508.38,7458064.05,7.458064e+06
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,3750.0,35.0,40.0,30.0,274683.09,274683.09,7458064.05,7.458064e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102277,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,5650.0,73.0,73.0,20.0,2745623.55,2745623.55,7458064.05,7.458064e+06
102278,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,2600.0,50.0,10.0,30.0,49219.94,49219.94,7458064.05,7.458064e+06
102279,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,2600.0,50.0,10.0,30.0,113254.85,113254.85,235832.48,2.358325e+05
102280,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,200.0,16.0,16.0,16.0,35183.46,35183.46,962571.20,9.625712e+05
102281,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,800.0,45.0,15.0,35.0,42516.67,42516.67,7458064.05,7.458064e+06

In [20]:
category1 = X1.groupby('product_category_name_english').sum().reset_index()
category1 = category1[['product_category_name_english', 'payment_value']]
category1.columns = ['product_category_name_english', 'payment_category']
category1

   product_category_name_english  payment_category
0     agro_industry_and_commerce         105268.94
1               air_conditioning          74220.68
2                            art          21895.20
3          arts_and_craftmanship           2011.85
4                          audio          53184.89
..                           ...               ...
66                    stationery         277395.07
67        tablets_printing_image           9495.09
68                     telephony         436001.67
69                          toys         543900.61
70                 watches_gifts        1280358.89

[71 rows x 2 columns]

In [21]:
category1_encoded = state1_encoded.merge(category1, on = 'product_category_name_english', how ='left')
encoder=ce.TargetEncoder(cols='product_category_name_english') 
category1_encoded['customer_category1_encoded'] = encoder.fit_transform(category1_encoded['product_category_name_english'],category1_encoded['payment_category'])
category1_encoded

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_city,customer_city1_encoded,payment_state,customer_state1_encoded,payment_category,customer_category1_encoded
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,650.0,28.0,9.0,14.0,35241.78,35241.78,7458064.05,7.458064e+06,688757.78,688757.78
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,30000.0,50.0,30.0,40.0,163895.33,163895.33,7458064.05,7.458064e+06,273229.40,273229.40
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,3050.0,33.0,13.0,33.0,2745623.55,2745623.55,7458064.05,7.458064e+06,1275730.27,1275730.27
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,200.0,16.0,10.0,15.0,76508.38,76508.38,7458064.05,7.458064e+06,445360.16,445360.16
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,3750.0,35.0,40.0,30.0,274683.09,274683.09,7458064.05,7.458064e+06,754284.22,754284.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102277,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,5650.0,73.0,73.0,20.0,2745623.55,2745623.55,7458064.05,7.458064e+06,688757.78,688757.78
102278,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,2600.0,50.0,10.0,30.0,49219.94,49219.94,7458064.05,7.458064e+06,1275730.27,1275730.27
102279,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,2600.0,50.0,10.0,30.0,113254.85,113254.85,235832.48,2.358325e+05,1275730.27,1275730.27
102280,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,200.0,16.0,16.0,16.0,35183.46,35183.46,962571.20,9.625712e+05,1275730.27,1275730.27
102281,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,800.0,45.0,15.0,35.0,42516.67,42516.67,7458064.05,7.458064e+06,1517575.56,1517575.56

In [22]:
customer1 = category1_encoded.groupby('customer_id').sum().reset_index()
customer1 = customer1[['customer_id', 'payment_value']]
customer1.columns = ['customer_id', 'customer_payment']
customer1

                            customer_id  customer_payment
0      00012a2ce6f8dcda20d059ce98491703             76.29
1      000161a058600d5901f007fab4c27140            222.64
2      0001fd6190edaaf884bcaf3d49edf079             69.22
3      0002414f95344307404f0ace7a26f1d5             45.54
4      000379cdec625522490c315e70c7a9fb             53.01
...                                 ...               ...
98002  fffecc9f79fd8c764f843e9951b11341             58.61
98003  fffeda5b6d849fbd39689bb92087f431             68.00
98004  ffff42319e9b2d713724ae527742af25            266.40
98005  ffffa3172527f765de70084a7e53aae8            256.90
98006  ffffe8b65bbe3087b653a978c870db99             66.42

[98007 rows x 2 columns]

In [23]:
customer1_encoded = category1_encoded.merge(customer1, on = 'customer_id', how ='left')
encoder=ce.TargetEncoder(cols='customer_id') 
customer1_encoded['customer_customer1_encoded'] = encoder.fit_transform(customer1_encoded['customer_id'],customer1_encoded['customer_payment'])
customer1_encoded

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,...,product_height_cm,product_width_cm,payment_city,customer_city1_encoded,payment_state,customer_state1_encoded,payment_category,customer_category1_encoded,customer_payment,customer_customer1_encoded
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,...,9.0,14.0,35241.78,35241.78,7458064.05,7.458064e+06,688757.78,688757.78,72.19,180.7683
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,...,30.0,40.0,163895.33,163895.33,7458064.05,7.458064e+06,273229.40,273229.40,259.83,180.7683
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,...,13.0,33.0,2745623.55,2745623.55,7458064.05,7.458064e+06,1275730.27,1275730.27,216.87,180.7683
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,...,10.0,15.0,76508.38,76508.38,7458064.05,7.458064e+06,445360.16,445360.16,25.78,180.7683
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,...,40.0,30.0,274683.09,274683.09,7458064.05,7.458064e+06,754284.22,754284.22,218.04,180.7683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102277,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,...,73.0,20.0,2745623.55,2745623.55,7458064.05,7.458064e+06,688757.78,688757.78,319.11,180.7683
102278,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,...,10.0,30.0,49219.94,49219.94,7458064.05,7.458064e+06,1275730.27,1275730.27,190.04,180.7683
102279,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,...,10.0,30.0,113254.85,113254.85,235832.48,2.358325e+05,1275730.27,1275730.27,190.04,180.7683
102280,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,...,16.0,16.0,35183.46,35183.46,962571.20,9.625712e+05,1275730.27,1275730.27,36.96,180.7683
102281,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,...,15.0,35.0,42516.67,42516.67,7458064.05,7.458064e+06,1517575.56,1517575.56,86.15,180.7683

In [24]:
product1 = customer1_encoded.groupby('product_id').sum().reset_index()
product1 = product1[['product_id', 'payment_value']]
product1.columns = ['product_id', 'product_price_encoded']
product1

                             product_id  product_price_encoded
0      0009406fd7479715e4bef61dd91f2462                 242.10
1      000b8f95fcb9e0096488278317764d19                 157.00
2      000d9be29b5207b54e86aa1b1ac54872                 218.27
3      0011c512eb256aa0dbbb544d8dffcf6e                 166.40
4      00126f27c813603687e6ce486d909d01                 527.73
...                                 ...                    ...
30020  fff515ea94dbf35d54d256b3e39f0fea                 838.83
30021  fff6177642830a9a94a0f2cba5e476d1                 158.38
30022  fff81cc3158d2725c0655ab9ba0f712c                  97.89
30023  fff9553ac224cec9d15d49f5a263411f                  43.85
30024  fffdb2d0ec8d6a61f0a0a0db3f25b441                 228.82

[30025 rows x 2 columns]

In [25]:
product1_encoded = customer1_encoded.merge(product1, on = 'product_id', how ='left')
encoder=ce.TargetEncoder(cols='product_id') 
product1_encoded['customer_product1_encoded'] = encoder.fit_transform(product1_encoded['product_id'], product1_encoded['product_price_encoded'])
product1_encoded

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,...,payment_city,customer_city1_encoded,payment_state,customer_state1_encoded,payment_category,customer_category1_encoded,customer_payment,customer_customer1_encoded,product_price_encoded,customer_product1_encoded
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,...,35241.78,35241.78,7458064.05,7.458064e+06,688757.78,688757.78,72.19,180.7683,808.13,808.317273
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,...,163895.33,163895.33,7458064.05,7.458064e+06,273229.40,273229.40,259.83,180.7683,259.83,4933.281526
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,...,2745623.55,2745623.55,7458064.05,7.458064e+06,1275730.27,1275730.27,216.87,180.7683,821.91,1311.997499
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,...,76508.38,76508.38,7458064.05,7.458064e+06,445360.16,445360.16,25.78,180.7683,51.56,1364.457126
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,...,274683.09,274683.09,7458064.05,7.458064e+06,754284.22,754284.22,218.04,180.7683,2305.92,2306.244202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102277,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,...,2745623.55,2745623.55,7458064.05,7.458064e+06,688757.78,688757.78,319.11,180.7683,970.82,1443.156992
102278,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,...,49219.94,49219.94,7458064.05,7.458064e+06,1275730.27,1275730.27,190.04,180.7683,57242.68,57242.680000
102279,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,...,113254.85,113254.85,235832.48,2.358325e+05,1275730.27,1275730.27,190.04,180.7683,57242.68,57242.680000
102280,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,...,35183.46,35183.46,962571.20,9.625712e+05,1275730.27,1275730.27,36.96,180.7683,78.06,1383.830178
102281,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,...,42516.67,42516.67,7458064.05,7.458064e+06,1517575.56,1517575.56,86.15,180.7683,2844.59,2844.590000

In [26]:
unique_cust1 = product1_encoded.groupby('customer_unique_id').sum().reset_index()
unique_cust1 = unique_cust1[['customer_unique_id', 'price']]
unique_cust1.columns = ['customer_unique_id', 'unique_customer_payment']
unique_cust1

                     customer_unique_id  unique_customer_payment
0      0000366f3b9a7992bf8c76cfdf3221e2                    89.90
1      0000b849f77a49e4a4ce2b2a4ca5be3f                    15.90
2      0000f46a3911fa3c0805444483337064                    29.99
3      0000f6ccb0745a6a4b88665a16c9f078                    29.99
4      0004aac84e0df4da2b147fca70cf8255                    69.00
...                                 ...                      ...
94750  fffcf5a5ff07b0908bd4e2dbc735a684                   179.97
94751  fffea47cd6d3cc0a88bd621562a9d061                    69.90
94752  ffff371b4d645b6ecea244b27531430a                    93.00
94753  ffff5962728ec6157033ef9805bacc48                   159.90
94754  ffffd2657e2aad2907e67c3e9daecbeb                   249.90

[94755 rows x 2 columns]

In [27]:
unique_cust1_encoded = product1_encoded.merge(unique_cust1, on = 'customer_unique_id', how = 'left')
encoder=ce.TargetEncoder(cols='customer_unique_id') 
unique_cust1_encoded['customer_uniquecust1_encoded'] = encoder.fit_transform(unique_cust1_encoded['customer_unique_id'], unique_cust1_encoded['unique_customer_payment'])
unique_cust1_encoded['customer_uniquecust1_encoded'].unique()

array([152.02124636, 253.5497506 , 220.25003234, ...,  95.71420347,
       100.10055494, 173.71969772])

In [28]:
seller1 = unique_cust1_encoded.groupby('seller_id').sum().reset_index()
seller1 = seller1[['seller_id', 'payment_value']]
seller1.columns = ['seller_id', 'seller_payment']
seller1

                             seller_id  seller_payment
0     0015a82c2db000af6aaaf3ae2ecb0532         2748.06
1     001cca7ae9ae17fb1caed9dfb1094831        41326.05
2     001e6ad469a905060d959994f1b41e4f          267.94
3     002100f778ceb8431b7a1020ff7ab48f         2159.14
4     004c9cd9d87a3c30c522c48c4fc07416        22597.68
...                                ...             ...
2960  ffcfefa19b08742c5d315f2791395ee5           79.52
2961  ffdd9f82b9a447f6f8d4b91554cc7dd3         3216.43
2962  ffeee66ac5d5a62fe688b9d26f83f534         2108.68
2963  fffd5413c0700ac820c7069d66d98c89        11591.23
2964  ffff564a4f9085cd26170f4732393726         1457.62

[2965 rows x 2 columns]

In [29]:
seller1_encoded = unique_cust1_encoded.merge(seller1, on = 'seller_id', how = 'left')
encoder=ce.TargetEncoder(cols='seller_id') 
seller1_encoded['seller1_encoded'] = encoder.fit_transform(seller1_encoded['seller_id'], seller1_encoded['seller_payment'])
seller1_encoded

,product_id,product_category_name_english,customer_id,customer_unique_id,seller_id,customer_city,customer_state,price,freight_value,payment_value,...,payment_category,customer_category1_encoded,customer_payment,customer_customer1_encoded,product_price_encoded,customer_product1_encoded,unique_customer_payment,customer_uniquecust1_encoded,seller_payment,seller1_encoded
0,4244733e06e7ecb4970a6e2683c13e61,cool_stuff,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,48436dade18ac8b2bce089ec2a041202,franca,SP,58.90,13.29,72.19,...,688757.78,688757.78,72.19,180.7683,808.13,808.317273,58.90,152.021246,16419.11,16419.110000
1,e5f2d52b802189ee658865ca93d83a8f,pet_shop,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,dd7ddc04e1b6c2c614352b383efe2d36,sao bernardo do campo,SP,239.90,19.93,259.83,...,273229.40,273229.40,259.83,180.7683,259.83,4933.281526,239.90,152.021246,11574.91,11574.910000
2,c777355d18b72b67abbeef9df44fd0fd,furniture_decor,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,5b51032eddd242adc84c38acab88f23d,sao paulo,SP,199.00,17.87,216.87,...,1275730.27,1275730.27,216.87,180.7683,821.91,1311.997499,199.00,152.021246,5936.65,5936.972236
3,7634da152a4610f1595efa32f14722fc,perfumery,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,9d7a1d34a5052409006425275ba1c2b4,mogi das cruzes,SP,12.99,12.79,25.78,...,445360.16,445360.16,25.78,180.7683,51.56,1364.457126,12.99,152.021246,2556.23,2556.247077
4,ac6c3623068f30de03045865e4e10089,garden_tools,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,df560393f3a51e74553ab94004ba5c87,campinas,SP,199.90,18.14,218.04,...,754284.22,754284.22,218.04,180.7683,2305.92,2306.244202,199.90,152.021246,3455.69,3455.690000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102277,28ce57ecf4afba85e6020ec0209cada9,cool_stuff,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,dc317f341ab0e22f39acbd9dbf9b4a1f,sao paulo,SP,249.90,69.21,319.11,...,688757.78,688757.78,319.11,180.7683,970.82,1443.156992,249.90,152.021246,21204.41,21204.410000
102278,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,955fee9216a65b617aa5c0531780ce60,taboao da serra,SP,75.00,20.02,190.04,...,1275730.27,1275730.27,190.04,180.7683,57242.68,57242.680000,75.00,152.021246,202191.56,202191.560000
102279,aca2eb7d00ea1a7b8ebd4e68314663af,furniture_decor,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,955fee9216a65b617aa5c0531780ce60,fortaleza,CE,75.00,20.02,190.04,...,1275730.27,1275730.27,190.04,180.7683,57242.68,57242.680000,75.00,152.021246,202191.56,202191.560000
102280,41171e11f920c47deb1809edda2bf09d,furniture_decor,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,c42fd8e4d47dfb18ce5222f2dd7752f9,canoas,RS,26.00,10.96,36.96,...,1275730.27,1275730.27,36.96,180.7683,78.06,1383.830178,26.00,152.021246,1131.19,1138.254496
102281,5bfc7506459ae2a7b4b573fe557a58e1,bed_bath_table,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,4a3ca9315b744ce9f8e9374361493884,cotia,SP,69.90,16.25,86.15,...,1517575.56,1517575.56,86.15,180.7683,2844.59,2844.590000,69.90,152.021246,263297.05,263297.050000

In [38]:
X = seller1_encoded[['customer_city1_encoded','customer_state1_encoded','customer_customer1_encoded','customer_product1_encoded', 'payment_value', 'seller1_encoded', 'customer_uniquecust1_encoded', 'freight_value','product_weight_g','product_length_cm','product_height_cm','product_width_cm']].dropna()
X
#payment_value , 'product_length_cm','product_height_cm','product_width_cm'

,customer_city1_encoded,customer_state1_encoded,customer_customer1_encoded,customer_product1_encoded,payment_value,seller1_encoded,customer_uniquecust1_encoded,freight_value,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,35241.78,7.458064e+06,180.7683,808.317273,72.19,16419.110000,152.021246,13.29,650.0,28.0,9.0,14.0
1,163895.33,7.458064e+06,180.7683,4933.281526,259.83,11574.910000,152.021246,19.93,30000.0,50.0,30.0,40.0
2,2745623.55,7.458064e+06,180.7683,1311.997499,216.87,5936.972236,152.021246,17.87,3050.0,33.0,13.0,33.0
3,76508.38,7.458064e+06,180.7683,1364.457126,25.78,2556.247077,152.021246,12.79,200.0,16.0,10.0,15.0
4,274683.09,7.458064e+06,180.7683,2306.244202,218.04,3455.690000,152.021246,18.14,3750.0,35.0,40.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
102277,2745623.55,7.458064e+06,180.7683,1443.156992,319.11,21204.410000,152.021246,69.21,5650.0,73.0,73.0,20.0
102278,49219.94,7.458064e+06,180.7683,57242.680000,190.04,202191.560000,152.021246,20.02,2600.0,50.0,10.0,30.0
102279,113254.85,2.358325e+05,180.7683,57242.680000,190.04,202191.560000,152.021246,20.02,2600.0,50.0,10.0,30.0
102280,35183.46,9.625712e+05,180.7683,1383.830178,36.96,1138.254496,152.021246,10.96,200.0,16.0,16.0,16.0
102281,42516.67,7.458064e+06,180.7683,2844.590000,86.15,263297.050000,152.021246,16.25,800.0,45.0,15.0,35.0

In [39]:
y = category1_encoded[['price']].dropna()
y

         price
0        58.90
1       239.90
2       199.00
3        12.99
4       199.90
...        ...
102277  249.90
102278   75.00
102279   75.00
102280   26.00
102281   69.90

[102282 rows x 1 columns]

In [40]:
X_train, X_test, y_train, y_test = X.iloc[0:90000, :], X.iloc[90000:, :], y.iloc[0:90000], y.iloc[90000:]

In [41]:
from sklearn.preprocessing import MinMaxScaler

# fit scaler on training data
norm = MinMaxScaler().fit(X_train)

# transform training data
X_train_norm = norm.transform(X_train)

# transform testing dataabs
X_test_norm = norm.transform(X_test)

In [42]:
import matplotlib.pyplot as plt
from matplotlib import ticker
import numpy as np
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [48]:
#defining the model and adding neural network layers
model = keras.Sequential(([
    layers.Dense(12, activation='relu', input_shape=[12]),
    layers.Dropout(0.30, seed=None),
    layers.Dense(24, activation='swish'),
    layers.Dense(24, activation='relu'),
    layers.Dense(24, activation='swish'),
    layers.Dense(12, activation='relu'),
    layers.Dense(1)
]))

In [49]:
#compiling the model
optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001)
model.compile(loss = 'mean_squared_error', optimizer = optimizer, metrics=['mae'])

In [50]:
history = model.fit(X_train_norm, y_train, epochs = 200, validation_split = 0.2, use_multiprocessing = True)

Epoch 1/200
2250/2250 [==============================] - 4s 2ms/step - loss: 28533.2891 - mae: 82.9945 - val_loss: 20599.1133 - val_mae: 67.7816
Epoch 2/200
2250/2250 [==============================] - 4s 2ms/step - loss: 16607.7754 - mae: 64.8609 - val_loss: 12372.0244 - val_mae: 54.7933
Epoch 3/200
2250/2250 [==============================] - 4s 2ms/step - loss: 13329.7881 - mae: 56.8227 - val_loss: 10981.3789 - val_mae: 52.4204
Epoch 4/200
2250/2250 [==============================] - 4s 2ms/step - loss: 13029.5645 - mae: 54.8521 - val_loss: 10869.5361 - val_mae: 54.2176
Epoch 5/200
2250/2250 [==============================] - 4s 2ms/step - loss: 12049.7656 - mae: 53.5105 - val_loss: 10801.8789 - val_mae: 51.3427
Epoch 6/200
2250/2250 [==============================] - 4s 2ms/step - loss: 11928.6104 - mae: 53.1427 - val_loss: 10440.6680 - val_mae: 50.6928
Epoch 7/200
2250/2250 [==============================] - 4s 2ms/step - loss: 11555.6982 - mae: 52.8953 - val_loss: 10442.2568 - val_mae: 50.4407
Epoch 8/200
2250/2250 [==============================] - 4s 2ms/step - loss: 11600.4922 - mae: 52.6800 - val_loss: 9397.5420 - val_mae: 49.4006
Epoch 9/200
2250/2250 [==============================] - 4s 2ms/step - loss: 11215.2285 - mae: 52.4382 - val_loss: 9627.9053 - val_mae: 48.7311
Epoch 10/200
2250/2250 [==============================] - 4s 2ms/step - loss: 11108.7969 - mae: 52.1073 - val_loss: 9388.2822 - val_mae: 49.0961
Epoch 11/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10976.5527 - mae: 52.2430 - val_loss: 10060.2627 - val_mae: 50.0850
Epoch 12/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10499.3271 - mae: 51.6739 - val_loss: 9850.3418 - val_mae: 53.3397
Epoch 13/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10648.1641 - mae: 51.6213 - val_loss: 9421.3242 - val_mae: 49.4662
Epoch 14/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10426.0586 - mae: 51.3991 - val_loss: 9581.7002 - val_mae: 49.6309
Epoch 15/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10292.5137 - mae: 50.8553 - val_loss: 9119.8857 - val_mae: 49.8586
Epoch 16/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10333.1621 - mae: 51.7345 - val_loss: 9006.0938 - val_mae: 49.1209
Epoch 17/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10460.9619 - mae: 51.1416 - val_loss: 9032.9385 - val_mae: 49.0971
Epoch 18/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10213.1172 - mae: 51.6507 - val_loss: 9365.4648 - val_mae: 51.7225
Epoch 19/200
2250/2250 [==============================] - 3s 2ms/step - loss: 10304.7129 - mae: 50.7919 - val_loss: 9074.1016 - val_mae: 48.1402
Epoch 20/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9876.3320 - mae: 50.4923 - val_loss: 9146.0938 - val_mae: 48.2300
Epoch 21/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10212.4404 - mae: 51.0808 - val_loss: 9567.1689 - val_mae: 47.9288
Epoch 22/200
2250/2250 [==============================] - 6s 2ms/step - loss: 10025.8584 - mae: 50.6617 - val_loss: 9248.5361 - val_mae: 48.3090
Epoch 23/200
2250/2250 [==============================] - 5s 2ms/step - loss: 10093.2588 - mae: 50.4474 - val_loss: 9167.2842 - val_mae: 47.4826
Epoch 24/200
2250/2250 [==============================] - 5s 2ms/step - loss: 10046.5693 - mae: 50.5704 - val_loss: 8854.5859 - val_mae: 45.6655
Epoch 25/200
2250/2250 [==============================] - 4s 2ms/step - loss: 10239.0312 - mae: 50.5576 - val_loss: 8992.0693 - val_mae: 47.8913
Epoch 26/200
2250/2250 [==============================] - 5s 2ms/step - loss: 10025.5059 - mae: 50.6213 - val_loss: 9155.2422 - val_mae: 51.8776
Epoch 27/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9650.8271 - mae: 49.7921 - val_loss: 8870.3516 - val_mae: 47.7958
Epoch 28/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9542.3301 - mae: 49.4439 - val_loss: 8727.9941 - val_mae: 46.4620
Epoch 29/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9744.3838 - mae: 50.3689 - val_loss: 9160.3311 - val_mae: 48.7134
Epoch 30/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9432.0049 - mae: 49.8114 - val_loss: 8589.1904 - val_mae: 45.6380
Epoch 31/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9565.6885 - mae: 49.7407 - val_loss: 8786.4150 - val_mae: 50.0113
Epoch 32/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9685.7383 - mae: 49.7429 - val_loss: 8655.7305 - val_mae: 47.7192
Epoch 33/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9208.7471 - mae: 49.1781 - val_loss: 8653.3555 - val_mae: 50.7136
Epoch 34/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9437.0342 - mae: 49.4732 - val_loss: 8744.4883 - val_mae: 48.5869
Epoch 35/200
2250/2250 [==============================] - 5s 2ms/step - loss: 9574.5488 - mae: 49.6574 - val_loss: 8652.0996 - val_mae: 47.2647
Epoch 36/200
2250/2250 [==============================] - 5s 2ms/step - loss: 9427.1738 - mae: 49.4542 - val_loss: 8824.9746 - val_mae: 49.9550
Epoch 37/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9891.3457 - mae: 49.9135 - val_loss: 8652.4873 - val_mae: 48.0408
Epoch 38/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9412.5283 - mae: 49.4683 - val_loss: 8505.0547 - val_mae: 47.4818
Epoch 39/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9394.5293 - mae: 49.3284 - val_loss: 8545.5449 - val_mae: 47.3297
Epoch 40/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9293.2031 - mae: 49.3267 - val_loss: 8415.3115 - val_mae: 46.7522
Epoch 41/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9591.1602 - mae: 49.4904 - val_loss: 8372.9209 - val_mae: 46.8111
Epoch 42/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9478.1729 - mae: 49.2640 - val_loss: 8593.2793 - val_mae: 49.3713
Epoch 43/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9331.6172 - mae: 49.4262 - val_loss: 8557.7266 - val_mae: 47.5896
Epoch 44/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9174.0596 - mae: 48.9202 - val_loss: 8531.7617 - val_mae: 46.3080
Epoch 45/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9410.6455 - mae: 49.2407 - val_loss: 8597.8496 - val_mae: 47.9111
Epoch 46/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9197.1035 - mae: 48.8638 - val_loss: 8473.9619 - val_mae: 47.9275
Epoch 47/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9465.4688 - mae: 49.1363 - val_loss: 8516.7871 - val_mae: 46.6846
Epoch 48/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9122.9375 - mae: 48.9448 - val_loss: 8427.0703 - val_mae: 46.8459
Epoch 49/200
2250/2250 [==============================] - 4s 2ms/step - loss: 9462.1650 - mae: 49.1006 - val_loss: 8446.7900 - val_mae: 47.3160
Epoch 50/200
2250/2250 [==============================] - 21s 9ms/step - loss: 9378.2686 - mae: 49.1381 - val_loss: 8666.1543 - val_mae: 46.15126s - loss: 9471.1240 - mae - ETA: 7s - loss: 9488.7334
Epoch 51/200
2250/2250 [==============================] - 12s 5ms/step - loss: 9569.1182 - mae: 49.2980 - val_loss: 8641.2900 - val_mae: 48.2352
Epoch 52/200
2250/2250 [==============================] - 18s 8ms/step - loss: 9379.5020 - mae: 49.4073 - val_loss: 8445.7617 - val_mae: 45.3160loss: 9488. - ETA: 0s -
Epoch 53/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9473.2959 - mae: 48.9915 - val_loss: 8710.4092 - val_mae: 46.7111
Epoch 54/200
2250/2250 [==============================] - 35s 16ms/step - loss: 9280.9746 - mae: 48.8645 - val_loss: 8651.9355 - val_mae: 46.7418s - loss: 9284.8652 - mae:  - ETA: 2s - loss: 9305.0107 - ETA: 1s - loss:  - ETA: 0s - loss: 9277.6045 -
Epoch 55/200

2250/2250 [==============================] - 37s 16ms/step - loss: 9597.7109 - mae: 49.3573 - val_loss: 8608.4307 - val_mae: 46.0589: 8 - ETA: 4s - loss: 9735.5508 - ma - ETA: 3s - loss: 9773.913 - ETA: 0s - loss: 9654.9238
Epoch 56/200
2250/2250 [==============================] - 41s 18ms/step - loss: 9099.7676 - mae: 48.8077 - val_loss: 8913.2422 - val_mae: 47.7672: 2s - loss: 9142.9404 - mae: 48.850 - ETA: 2s - loss: 9130.8203 - - ETA: 1s - loss: 9 - ETA: 0s - loss: 9113.5596 - mae: 4 - ETA: 0s - loss: 9103.4873 - mae: 48.
Epoch 57/200
2250/2250 [==============================] - 41s 18ms/step - loss: 9481.6533 - mae: 48.7162 - val_loss: 8544.5859 - val_mae: 48.8562 loss: 94 - ETA: 3s - loss - ETA: 2s - loss: 9410.675 - ETA: 1s - loss: 938
Epoch 58/200
2250/2250 [==============================] - 43s 19ms/step - loss: 9392.0332 - mae: 49.1030 - val_loss: 8427.9912 - val_mae: 45.09886904 - mae: 4 - ETA: 4s - loss: 9
Epoch 59/200
2250/2250 [==============================] - 43s 19ms/step - loss: 9587.2441 - mae: 48.7891 - val_loss: 9428.9102 - val_mae: 49.2305404 - mae: 47.57 - ETA: 29s - loss: 8837.23
Epoch 60/200
2250/2250 [==============================] - 41s 18ms/step - loss: 9379.2480 - mae: 48.8190 - val_loss: 8698.3242 - val_mae: 47.0817- ETA: 3s - loss: 9361.3125 -  - ETA: 0s - loss: 9383.8496 - mae: 48.82
Epoch 61/200
2250/2250 [==============================] - 40s 18ms/step - loss: 9289.2998 - mae: 49.0526 - val_loss: 8689.7578 - val_mae: 47.81315s - loss: 9 - ETA: 4s - los - ETA: 2s - loss: 9368.5781 - ma - ETA: 1s - loss: 9360.9795 -  - ETA: 1s - loss: 934
Epoch 62/200
2250/2250 [==============================] - 40s 18ms/step - loss: 9438.0430 - mae: 48.8203 - val_loss: 8965.5645 - val_mae: 50.8458
Epoch 63/200
2250/2250 [==============================] - 42s 19ms/step - loss: 9375.9355 - mae: 48.9921 - val_loss: 8673.7383 - val_mae: 49.0864 - l - ETA: 1s - loss: 9363.6846 - mae: 4 - ETA: 0s - loss: 9378.4023 - - ETA: 0s - loss: 9375.9355 - mae: 48.992
Epoch 64/200
2250/2250 [==============================] - 41s 18ms/step - loss: 9270.5293 - mae: 48.7159 - val_loss: 8367.6484 - val_mae: 45.3486ss: 9182.6465 - ma - - ETA: 11s - loss: 9454.3789 - mae: - ETA: 11s - loss: 9434.0322  - - ETA: 4s - loss: 9415.3486 - mae: - ETA: 4s - loss: 9379.7324 - mae: 48.67 - ETA: 4s - l
Epoch 65/200
2250/2250 [==============================] - 41s 18ms/step - loss: 9539.3945 - mae: 48.9472 - val_loss: 8482.9004 - val_mae: 46.0876 - ETA: 1s - loss: 95
Epoch 66/200
2250/2250 [==============================] - 42s 19ms/step - loss: 9161.9756 - mae: 48.8818 - val_loss: 8913.8037 - val_mae: 47.202550 - m
Epoch 67/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9059.7949 - mae: 48.7524 - val_loss: 8633.6904 - val_mae: 49.3914TA - ETA: 10s - loss: 9364.9521 - mae: 49.0 - ETA: 9 - ETA: 8s - loss: 93 - ETA: 7s - loss: 9  - ETA: 0s - loss: 9068.7471
Epoch 68/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9443.8438 - mae: 48.8550 - val_loss: 8491.1963 - val_mae: 46.0034e: 4 - ETA: 3s - loss: 9488.2744  - ETA: 2s - loss: 9451.5137 - mae: 48.96 - ETA: 2s - loss: 9455.6104 - mae: 48.982 - ETA: 2s - loss: 9453.5654 - mae: 48.976 - ETA: 2 - ETA: 0s - loss: 9478.2061 - m
Epoch 69/200
2250/2250 [==============================] - 37s 17ms/step - loss: 9054.5400 - mae: 48.6863 - val_loss: 8900.2705 - val_mae: 47.2451loss: 8957.2295
Epoch 70/200
2250/2250 [==============================] - 37s 16ms/step - loss: 9069.9365 - mae: 49.0412 - val_loss: 8735.0977 - val_mae: 46.6442s: 9083.9316 - mae:  - ETA:
Epoch 71/200
2250/2250 [==============================] - 37s 16ms/step - loss: 9161.0537 - mae: 48.6779 - val_loss: 8811.7686 - val_mae: 48.1792
Epoch 72/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9275.9570 - mae: 48.7268 - val_loss: 8483.7803 - val_mae: 46.7813 - ETA: 7s - loss: 9455.8525 - mae: 49.044 - ETA: 7s - loss: 9449.0273 - mae: - ETA: 0s - loss: 9282.9824 - ma
Epoch 73/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9175.9229 - mae: 48.6582 - val_loss: 8732.9053 - val_mae: 46.8503
Epoch 74/200
2250/2250 [==============================] - 37s 17ms/step - loss: 9616.2949 - mae: 48.6978 - val_loss: 8630.4102 - val_mae: 47.5067- ETA: 0s - loss: 9627.3232 - mae: 48
Epoch 75/200
2250/2250 [==============================] - 37s 16ms/step - loss: 9120.2051 - mae: 48.8538 - val_loss: 8565.8926 - val_mae: 45.4380s: 9192.248 - ETA: 5s - loss: 9228.4521 - ma - ETA: 5s - loss: - ETA - ETA: 1s -
Epoch 76/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9410.6533 - mae: 48.8898 - val_loss: 8446.1475 - val_mae: 46.2248
Epoch 77/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9308.8486 - mae: 48.4970 - val_loss: 8798.8740 - val_mae: 46.5737
Epoch 78/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9590.6016 - mae: 48.5452 - val_loss: 8607.7471 - val_mae: 48.41007 - ETA: 9s - loss: 9892.2744 - mae: 48.8 - ETA: 9s - loss: 9888.3818 - mae: 48 - ETA: 9 - ETA: 7s - l - ETA: 1s - loss: 96
Epoch 79/200
2250/2250 [==============================] - 37s 16ms/step - loss: 9175.9268 - mae: 48.5997 - val_loss: 8535.1338 - val_mae: 47.2653 - m
Epoch 80/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9221.3711 - mae: 48.8121 - val_loss: 8876.7959 - val_mae: 46.0496 - loss: 9170.6045 - mae: 48 - ETA: 2s - loss: 9189.4316 - mae: - ETA:
Epoch 81/200
2250/2250 [==============================] - 39s 17ms/step - loss: 9272.1152 - mae: 48.8403 - val_loss: 8594.2031 - val_mae: 48.632432 - mae: 4 - ETA:
Epoch 82/200
2250/2250 [==============================] - 37s 17ms/step - loss: 9518.3994 - mae: 49.0584 - val_loss: 8553.0938 - val_mae: 47.5680
Epoch 83/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9148.2334 - mae: 48.8274 - val_loss: 8668.3760 - val_mae: 47.1833
Epoch 84/200
2250/2250 [==============================] - 37s 16ms/step - loss: 8993.8994 - mae: 48.6847 - val_loss: 8975.8662 - val_mae: 49.3855
Epoch 85/200
2250/2250 [==============================] - 37s 16ms/step - loss: 9169.3857 - mae: 48.8713 - val_loss: 8695.6611 - val_mae: 48.8413
Epoch 86/200
2250/2250 [==============================] - 38s 17ms/step - loss: 9159.9463 - mae: 48.3532 - val_loss: 8491.2822 - val_mae: 47.53521 - mae: 48.3 - ETA: 0s - loss: 9211.5332
Epoch 87/200
2250/2250 [==============================] - 60s 27ms/step - loss: 9243.6992 - mae: 48.9621 - val_loss: 8514.1963 - val_mae: 47.4818: 12s - loss:  - ETA: 10s - loss: 936 - ETA: 9s - loss:  - ETA: 6s - loss: 9212.226 - ETA: 5s - l - ETA: 0s - loss: 9241.9932 - mae
Epoch 88/200
2250/2250 [==============================] - 47s 21ms/step - loss: 9196.8750 - mae: 49.1730 - val_loss: 8713.5459 - val_mae: 48.744816s - loss - ETA: 15 - ETA: 14s - loss: 8909.2432 - mae: 48. - ETA: 13s - loss: 8922.6885 - ma - ETA: 10s - loss: 9050 - ETA: 10s - loss: 9061.0254 - ETA: 9s - loss: 9026.5713 - mae - ETA: 8s - loss: 9061.3467 - mae: 49.0 - ETA: 8s - loss: 9077.5947 - - ETA: 7s - loss: 9007.6299 - mae: 49.025 - ETA: 7s - loss: 9006.2490 - ma - ETA: 7s - loss: 9025.0098 - mae: 49 - ETA: 7s - loss: 9018.2324 - mae:  - ETA: 6s - loss: 9007.9043 - - ETA: 5s - loss: 8986.544 - ETA: 5s - loss: 9064.92 - E - ETA: 2s - loss: 9149.99 - ETA: 0s - loss: 9198.1689 - mae: 49.1 - ETA: 0s - loss: 9198.8145 -
Epoch 89/200
2250/2250 [==============================] - 44s 20ms/step - loss: 9104.6484 - mae: 48.5334 - val_loss: 8643.3037 - val_mae: 48.4548- loss: 9220.9844 - mae: 4 - ETA: 10s - loss: 9 - ETA: 9s - loss: 9248.7002 - - ETA: 8s - loss: 9210.5469 - mae: 48. - ETA: 8s - loss: 9187.4443 - mae:  - ETA: 7s - loss: 9182.2666  - ETA: 7s - loss: 9208.8203 - ma - ETA: 6s - lo - ETA:  - ETA: 1s - loss: 9075.52 - ETA: 0s - loss: 9065.2080 - mae:
Epoch 90/200
2250/2250 [==============================] - 29s 13ms/step - loss: 9193.0518 - mae: 48.7530 - val_loss: 8636.2656 - val_mae: 46.6105
Epoch 91/200

2250/2250 [==============================] - 27s 12ms/step - loss: 9292.9131 - mae: 48.8676 - val_loss: 8705.5547 - val_mae: 46.5458
Epoch 92/200
2250/2250 [==============================] - 20s 9ms/step - loss: 9272.9316 - mae: 48.6670 - val_loss: 8651.4414 - val_mae: 46.3151
Epoch 93/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9129.1611 - mae: 48.6380 - val_loss: 8651.5762 - val_mae: 45.2464
Epoch 94/200
2250/2250 [==============================] - 19s 8ms/step - loss: 8912.9512 - mae: 48.4793 - val_loss: 8612.2764 - val_mae: 45.7292
Epoch 95/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9282.7354 - mae: 48.6335 - val_loss: 8673.4834 - val_mae: 47.8818
Epoch 96/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9012.1152 - mae: 48.3505 - val_loss: 8825.9160 - val_mae: 50.3624
Epoch 97/200
2250/2250 [==============================] - 26s 12ms/step - loss: 9166.8799 - mae: 48.1920 - val_loss: 8575.3770 - val_mae: 46.3410
Epoch 98/200
2250/2250 [==============================] - 29s 13ms/step - loss: 9225.3320 - mae: 48.4514 - val_loss: 8514.0303 - val_mae: 47.4618
Epoch 99/200
2250/2250 [==============================] - 25s 11ms/step - loss: 9290.8389 - mae: 48.5285 - val_loss: 8724.8682 - val_mae: 49.3588
Epoch 100/200
2250/2250 [==============================] - 24s 11ms/step - loss: 9133.9980 - mae: 48.0579 - val_loss: 8740.8584 - val_mae: 47.9452
Epoch 101/200
2250/2250 [==============================] - 22s 10ms/step - loss: 9154.6572 - mae: 48.5182 - val_loss: 8638.5195 - val_mae: 46.0460
Epoch 102/200
2250/2250 [==============================] - 20s 9ms/step - loss: 8906.6309 - mae: 48.2861 - val_loss: 8595.5205 - val_mae: 47.0813
Epoch 103/200
2250/2250 [==============================] - 19s 8ms/step - loss: 8825.6094 - mae: 48.0143 - val_loss: 8691.1152 - val_mae: 47.5465
Epoch 104/200
2250/2250 [==============================] - 19s 8ms/step - loss: 8947.4102 - mae: 48.2604 - val_loss: 8555.1396 - val_mae: 46.3839
Epoch 105/200
2250/2250 [==============================] - 21s 9ms/step - loss: 9091.5488 - mae: 48.0721 - val_loss: 8443.4844 - val_mae: 45.8511
Epoch 106/200
2250/2250 [==============================] - 19s 8ms/step - loss: 8900.2197 - mae: 47.8400 - val_loss: 8555.4189 - val_mae: 47.2110
Epoch 107/200
2250/2250 [==============================] - 24s 11ms/step - loss: 9248.5283 - mae: 48.1791 - val_loss: 8666.8447 - val_mae: 47.9523
Epoch 108/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9064.8262 - mae: 48.1867 - val_loss: 8755.6816 - val_mae: 46.9462
Epoch 109/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9505.7285 - mae: 48.3344 - val_loss: 8642.8994 - val_mae: 47.6305
Epoch 110/200
2250/2250 [==============================] - 18s 8ms/step - loss: 9157.5928 - mae: 48.1249 - val_loss: 8609.2852 - val_mae: 45.7709
Epoch 111/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9060.4453 - mae: 48.2279 - val_loss: 8817.3711 - val_mae: 48.5065
Epoch 112/200
2250/2250 [==============================] - 19s 8ms/step - loss: 9278.7529 - mae: 48.6253 - val_loss: 9329.0000 - val_mae: 46.6865
Epoch 113/200
2250/2250 [==============================] - 18s 8ms/step - loss: 8787.9277 - mae: 48.0579 - val_loss: 8673.1367 - val_mae: 46.6054
Epoch 114/200
2250/2250 [==============================] - 19s 8ms/step - loss: 8835.9814 - mae: 47.8813 - val_loss: 8915.1162 - val_mae: 47.0848
Epoch 115/200
2250/2250 [==============================] - 19s 9ms/step - loss: 9046.2637 - mae: 47.9141 - val_loss: 8800.3906 - val_mae: 47.4581
Epoch 116/200
2250/2250 [==============================] - 21s 10ms/step - loss: 8826.3018 - mae: 48.0140 - val_loss: 8855.2656 - val_mae: 45.9931
Epoch 117/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8985.5498 - mae: 48.1063 - val_loss: 8626.9756 - val_mae: 47.2513
Epoch 118/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8973.8760 - mae: 47.8551 - val_loss: 8687.0830 - val_mae: 47.7436
Epoch 119/200
2250/2250 [==============================] - 25s 11ms/step - loss: 8834.7373 - mae: 47.7888 - val_loss: 8804.9307 - val_mae: 47.6439
Epoch 120/200
2250/2250 [==============================] - 24s 11ms/step - loss: 9128.1826 - mae: 48.1234 - val_loss: 8632.5439 - val_mae: 47.1365
Epoch 121/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8876.2402 - mae: 47.5643 - val_loss: 8834.6250 - val_mae: 47.8376
Epoch 122/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8961.1143 - mae: 47.7468 - val_loss: 8559.1631 - val_mae: 47.0073
Epoch 123/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8769.8203 - mae: 47.3043 - val_loss: 8566.4385 - val_mae: 45.8336
Epoch 124/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8797.2393 - mae: 47.0979 - val_loss: 8706.3037 - val_mae: 46.3814
Epoch 125/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8984.5801 - mae: 47.3038 - val_loss: 8641.4580 - val_mae: 48.4735
Epoch 126/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8857.6094 - mae: 47.5409 - val_loss: 9456.4990 - val_mae: 47.1888
Epoch 127/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8660.1221 - mae: 47.0832 - val_loss: 9000.4980 - val_mae: 46.9038
Epoch 128/200
2250/2250 [==============================] - 25s 11ms/step - loss: 8836.7070 - mae: 47.4809 - val_loss: 8821.7002 - val_mae: 45.8940
Epoch 129/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8995.3555 - mae: 47.4775 - val_loss: 9325.8896 - val_mae: 48.1094
Epoch 130/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8872.9346 - mae: 47.1890 - val_loss: 9084.5176 - val_mae: 48.4243
Epoch 131/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8732.6201 - mae: 47.1531 - val_loss: 9052.5830 - val_mae: 48.2129
Epoch 132/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8788.7959 - mae: 47.6070 - val_loss: 9370.1025 - val_mae: 50.2858
Epoch 133/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8743.6992 - mae: 47.4365 - val_loss: 9178.7412 - val_mae: 48.2912
Epoch 134/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8841.3994 - mae: 47.1762 - val_loss: 8587.3301 - val_mae: 47.7482
Epoch 135/200
2250/2250 [==============================] - 24s 11ms/step - loss: 8608.9033 - mae: 47.1671 - val_loss: 9416.3379 - val_mae: 49.3885
Epoch 136/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8636.4873 - mae: 47.1858 - val_loss: 9433.3193 - val_mae: 47.0613
Epoch 137/200
2250/2250 [==============================] - 21s 9ms/step - loss: 8753.0049 - mae: 47.3805 - val_loss: 9015.6699 - val_mae: 47.3385
Epoch 138/200
2250/2250 [==============================] - 26s 12ms/step - loss: 8825.9932 - mae: 47.2804 - val_loss: 8988.2100 - val_mae: 47.7671
Epoch 139/200
2250/2250 [==============================] - 24s 11ms/step - loss: 8597.2402 - mae: 46.9074 - val_loss: 9197.3223 - val_mae: 47.0923
Epoch 140/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8552.0615 - mae: 46.5247 - val_loss: 8905.8066 - val_mae: 48.2222
Epoch 141/200
2250/2250 [==============================] - 22s 10ms/step - loss: 8496.3516 - mae: 46.5703 - val_loss: 8989.1729 - val_mae: 47.1371
Epoch 142/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8675.8662 - mae: 46.8134 - val_loss: 9545.4756 - val_mae: 48.3597
Epoch 143/200
2250/2250 [==============================] - 25s 11ms/step - loss: 8685.5068 - mae: 46.9756 - val_loss: 9408.2217 - val_mae: 51.3431
Epoch 144/200
2250/2250 [==============================] - 23s 10ms/step - loss: 8800.1279 - mae: 47.0364 - val_loss: 9191.5762 - val_mae: 47.4279
Epoch 145/200
2250/2250 [==============================] - 25s 11ms/step - loss: 8610.6670 - mae: 46.7581 - val_loss: 9011.8486 - val_mae: 49.2886
Epoch 146/200

2250/2250 [==============================] - 52s 23ms/step - loss: 8518.8887 - mae: 46.7905 - val_loss: 8963.8428 - val_mae: 47.720922.9541 - mae: 46.51 - ETA: 8s - loss: 8421.8291 - m - E
Epoch 147/200
2250/2250 [==============================] - 45s 20ms/step - loss: 8610.8867 - mae: 46.8766 - val_loss: 9257.6543 - val_mae: 49.0150.9521 - mae: - ETA: 8s - l - ETA: 6s - loss: 8528.2686 -  - ETA: 6s - - ETA: 3s - loss
Epoch 150/200
2250/2250 [==============================] - 46s 20ms/step - loss: 8619.4209 - mae: 46.7066 - val_loss: 8771.3564 - val_mae: 46.5474
Epoch 151/200
2250/2250 [==============================] - 41s 18ms/step - loss: 8549.6006 - mae: 46.7407 - val_loss: 9172.0576 - val_mae: 48.6243- ma - ETA: 10s - loss: 8457.1895 - mae: 46. - ET
Epoch 152/200
2250/2250 [==============================] - 42s 19ms/step - loss: 8438.5391 - mae: 46.6361 - val_loss: 9630.5303 - val_mae: 48.0235: 10s - loss - ETA: 10s - loss: 8663.684 - ETA: 9s - loss: 8612.2080 - mae: 46. - ETA - ETA: 7s - loss: 8593.9922 - mae: 46.7 - ETA: 7s - loss: 8617.8818 - ma - ETA: 7s - loss: 8 - ETA: 3s - loss: 8494.9922 - ETA: 2s - loss: 8496.9697 - mae: 46.72 - ETA: 2s - ETA: 0s - loss: 8440.2891 - mae: 46.63
Epoch 155/200
2250/2250 [==============================] - 51s 23ms/step - loss: 8652.9033 - mae: 46.7369 - val_loss: 8561.2783 - val_mae: 47.0461s - loss: 8652.4658 - m
Epoch 156/200
2250/2250 [==============================] - 42s 19ms/step - loss: 8275.5840 - mae: 46.3089 - val_loss: 9084.3350 - val_mae: 48.631590.9189 - mae: 46.24 - ETA: 7s - loss: 8189.50 - ETA: 6 - ETA: 4
Epoch 157/200
2250/2250 [==============================] - 40s 18ms/step - loss: 8664.2939 - mae: 46.2732 - val_loss: 9001.0830 - val_mae: 47.17419s - lo - ETA: 2s - loss: 8674.4775 - mae: 46. - ETA: 2s - loss: 8658.1621 -  - ETA: 2s - loss: 8705.9023 - mae: 46.2 - ETA: 1s - loss: 8683.3564 - mae: 46. - ETA: 1s - loss: 8675.0127 - mae: 46.239 - ETA: 1s - loss: 8673.4512 - mae: 46 - ETA: 1s - los
Epoch 158/200
2250/2250 [==============================] - 41s 18ms/step - loss: 8509.1904 - mae: 46.3632 - val_loss: 9055.9756 - val_mae: 48.7387
Epoch 159/200
2250/2250 [==============================] - 50s 22ms/step - loss: 8326.4658 - mae: 46.1059 - val_loss: 9363.0596 - val_mae: 49.3969 - ETA: 8s - loss: 8299.4502 - ma - ETA: 8s - loss: 833 - ETA: 6s - loss: 8252.9365 - mae: 46.1 - ETA: 6s - loss: 8254.8447 - mae - E - ETA: 2s - loss: 8239.2529 - mae: 46.07 - ET
Epoch 160/200
2250/2250 [==============================] - 39s 17ms/step - loss: 8197.6680 - mae: 45.9550 - val_loss: 9483.8564 - val_mae: 48.1737.0850
Epoch 161/200
2250/2250 [==============================] - 39s 17ms/step - loss: 8482.6123 - mae: 46.1378 - val_loss: 8948.6191 - val_mae: 47.1052s: 8591.0059 - mae: 46.1 - ETA: 7s - ETA: 5s - loss: 8568.0 - ETA: 4s - loss: 8517.3340 - ma - ETA: 4s - loss: 8565.5732 - mae: 4 - ETA: 3s - loss: 8592.7822 - mae:  - ETA: 3s - loss: 8533.5 - ETA: 2s - loss: 8526.6592 - mae: 46.1 - ETA:  - ETA: 0s - loss: 8481.7168 - mae: 46.140
Epoch 162/200
2250/2250 [==============================] - 39s 17ms/step - loss: 8533.0029 - mae: 45.9678 - val_loss: 9877.5127 - val_mae: 49.025010s -  - ETA: 9s - - ETA: 7s - loss: 8511.9619 - mae: - ETA: - ETA: 1s - los
Epoch 163/200
2250/2250 [==============================] - 41s 18ms/step - loss: 8443.7969 - mae: 46.0971 - val_loss: 9408.5273 - val_mae: 51.66822 - ETA: 4s - loss: 8576.1436 - mae: - ETA: 4s - loss: 856
Epoch 164/200
2250/2250 [==============================] - 38s 17ms/step - loss: 8406.4912 - mae: 46.0736 - val_loss: 9347.6406 - val_mae: 49.5739
Epoch 165/200
2250/2250 [==============================] - 41s 18ms/step - loss: 8469.8594 - mae: 46.0598 - val_loss: 8858.6807 - val_mae: 49.269010s  - ETA: 9s - loss: 8285.7451 - mae: 45.9 - - ETA: 7s - loss: 8311.8105 - mae: 46.000 - ETA: 6s - loss: 8345.9824 - mae: 46.0 - ETA: 6s -  - ETA: 3s - loss: 8367.8896 - mae: 45. - ETA: 2s - loss: 8430.1709 - mae: 46.0 - ETA: 2s - loss: 8420.9648 - mae - ETA: 2s - loss: 8444.6094  - ETA: 1s - loss: 8500.5049 - mae: 46.072 - ETA: 1s - loss: 8495.7373 - mae: 46 - ETA: 1s - loss: 8483.8545 - mae: 4 - ETA: 0s - loss: 8489.3057 - mae: 46.07 - ETA: 0s - loss: 8477.5420 - mae - ETA: 0s - loss: 8473.0762 - mae:
Epoch 166/200
2250/2250 [==============================] - 40s 18ms/step - loss: 8518.7129 - mae: 45.9748 - val_loss: 9889.5205 - val_mae: 50.7757
Epoch 167/200
2250/2250 [==============================] - 39s 17ms/step - loss: 8182.5967 - mae: 46.0641 - val_loss: 8852.8174 - val_mae: 50.3487oss: 7985.7651 - - ETA: 7s - loss: 7967.6128 - mae: 45.6 - ETA:   - ETA: 2s - loss: 8123.9600 - mae: 45.9 - ETA: 2s - loss: 8138.5391 - mae - ETA: 1s -
Epoch 168/200
2250/2250 [==============================] - 37s 17ms/step - loss: 8918.1670 - mae: 46.2298 - val_loss: 9127.1035 - val_mae: 47.9314
Epoch 169/200
2250/2250 [==============================] - 38s 17ms/step - loss: 8390.0635 - mae: 46.0000 - val_loss: 9728.4609 - val_mae: 54.4680
Epoch 170/200
2250/2250 [==============================] - 39s 17ms/step - loss: 8233.7930 - mae: 45.8761 - val_loss: 9584.4385 - val_mae: 50.0926
Epoch 171/200
2250/2250 [==============================] - 37s 17ms/step - loss: 8366.7607 - mae: 45.8651 - val_loss: 9605.5889 - val_mae: 51.4622 loss: 8430.8447 - m - ETA - ETA: 1s - loss: 8325.9326 - mae: 45 - ETA: 1s - loss: 8321.81 - ETA: 0s - loss: 8402.7100 - mae: 45.9 - ETA: 0s - loss: 8390.4883 - ma
Epoch 172/200
2250/2250 [==============================] - 36s 16ms/step - loss: 8060.3237 - mae: 45.4658 - val_loss: 9580.7217 - val_mae: 50.2287ss: 8085.616 - ETA: 1s - loss: 8096
Epoch 173/200
2250/2250 [==============================] - 42s 19ms/step - loss: 8421.0684 - mae: 45.6265 - val_loss: 8953.3906 - val_mae: 47.9273e: 45.46 - ETA: 3s - loss: 8338.6855 - mae: 45.45 - ETA: 3s - loss: 8330.1318 - ETA: 2s - loss: 8388.1152 - mae:  - ETA: 2s - loss: 8377.2734 - mae: 45.5 - ETA: 1s - loss: 8386.7549 - mae: 45.576 - ETA: 1s -
Epoch 174/200
2250/2250 [==============================] - 37s 16ms/step - loss: 8465.8281 - mae: 46.0269 - val_loss: 9377.6641 - val_mae: 53.1194
Epoch 175/200
2250/2250 [==============================] - 39s 17ms/step - loss: 8274.7793 - mae: 45.7031 - val_loss: 9645.4014 - val_mae: 52.97822578 - mae: -
Epoch 176/200
2250/2250 [==============================] - 40s 18ms/step - loss: 8377.0879 - mae: 45.7458 - val_loss: 9102.1963 - val_mae: 50.5583- ETA: 4s - loss: 8438.7402 - ETA: 3s - loss: 8398. - E
Epoch 177/200
2250/2250 [==============================] - 42s 19ms/step - loss: 8682.6777 - mae: 46.0299 - val_loss: 9847.5078 - val_mae: 51.701723s - loss:  - - ETA: 11s - loss: 8583.2842 -  - ETA: 11s - loss: 8 - ETA: 3s - loss: 8537.72  - ETA: 0s - loss: 8684.2637 - mae: 46.030
Epoch 178/200
 639/2250 [=======>......................] - ETA: 27s - loss: 7906.6548 - mae: 44.9886 ETA: 32s - lo - ETA: 28s - loss: 7726.0649 - mae: 44.97 - ETA: 28s - loss: 7703.8555 - mae: 44. - ETA: 28s - lo

KeyboardInterrupt:

In [ ]:
import matplotlib.pyplot as plt
model_history = pd.DataFrame(history.history)
model_history['epoch'] = history.epoch

fig, ax = plt.subplots(figsize=(14,8))
num_epochs = model_history.shape[0]
ax.plot(np.arange(0, num_epochs), model_history["mae"], 
        label="Training MAE", lw=3, color='r')
ax.plot(np.arange(0, num_epochs), model_history["val_mae"], 
        label="Validation MAE", lw=3, color='b')
ax.legend()
plt.tight_layout()
plt.show()

# **Training State Wise for states with high orders**

In [ ]:
X1